<template>
    <div class="patrn">
        <img src="../assets/img/banner.png" alt="">
        <div class="modex">
            <b-button v-b-modal.modal-1 style="background-color: #131846">Logout</b-button>
            <b-modal id="modal-1" title="Logout" style="background-color: #000000" >
            <p class="my-4">Are you sure you want to logout?</p>
            </b-modal>
        </div>
         <div class="sirts">
          <input
            type="email"
            class="search shadow bg-white rounded-pill"
            id="exampleFormControlInput1"
            placeholder=" Search"
          />
          </div>
        <SIdeBar/>
        <div class="addpat1">
            <b-button v-b-modal.patmod-2 style="background-color: #131846"><img src="../assets/img/add1.png">Add Patron</b-button>
            <b-modal id="patmod-2" title="Add Patron">
                <form ref="form" @submit.stop.prevent="handleSubmit">
                   
                    <b-form-group
                    label="First name"
                    label-for="fname-input"
                    invalid-feedback="Name is required"
                    >
                    <b-form-input
                    id="name-input"
                    v-model="patron.fname"
                    required
                    ></b-form-input>
                    </b-form-group>

                    <b-form-group
                    label="Middle name"
                    label-for="mname-input"
                    invalid-feedback="Name is required"
                    >
                    <b-form-input
                    id="mname-input"
                    v-model="patron.mname"
                    required
                    ></b-form-input>
                    </b-form-group>

                    <b-form-group
                    label="Last name"
                    label-for="lname-input"
                    invalid-feedback="Name is required"
                    >
                    <b-form-input
                    id="name-input"
                    v-model="patron.lname"
                    required
                    ></b-form-input>
                    </b-form-group>

                      <b-form-group
                    label="Email"
                    label-for="email-input"
                    invalid-feedback="Name is required"
                    >
                    <b-form-input
                    id="email-input"
                    v-model="patron.email"
                    required
                    ></b-form-input>
                    </b-form-group>


                    
                </form>
                <div slot="modal-footer">
                    <b-btn variant="dark" @click="$bvModal.hide('patmod-2')">Cancel</b-btn>
                    <b-btn style="background-color: #131846" v-on:click="addpt">Add Patron</b-btn>
                </div>
           </b-modal>
        </div>
        
        <div class="w-100">
          <table class="shadow bg-white table table-md col-sm-10">
          <thead class="head" style="background-color: #131846; color:white">
            <tr>
              <th scope="col">Action</th>
              <th scope="col">Name</th>
              <th scope="col">Email</th>
              <th scope="col">Date Registered</th>
            </tr>
          </thead>
          <tbody class="body">
             <tr v-for="(patron, index) in patrn" :key="index">
                <th scope="row"> 
                    <button v-b-modal.edit-100 v-b-tooltip.hover title="Delete"><img src="../assets/img/edit.png" alt=""></button>
                    <b-modal id="edit-100" title="Edit Patron">
                  <form ref="form" @submit.stop.prevent="handleSubmit">
                   
                    <b-form-group
                    label="First name"
                    label-for="fname-input"
                    invalid-feedback="Name is required"
                    >
                    <b-form-input
                    id="name-input"
                    v-model="patron.fname"
                    required
                    ></b-form-input>
                    </b-form-group>

                    <b-form-group
                    label="Middle name"
                    label-for="mname-input"
                    invalid-feedback="Name is required"
                    >
                    <b-form-input
                    id="mname-input"
                    v-model="patron.mname"
                    required
                    ></b-form-input>
                    </b-form-group>

                    <b-form-group
                    label="Last name"
                    label-for="lname-input"
                    invalid-feedback="Name is required"
                    >
                    <b-form-input
                    id="name-input"
                    v-model="patron.lname"
                    required
                    ></b-form-input>
                    </b-form-group>

                      <b-form-group
                    label="Email"
                    label-for="email-input"
                    invalid-feedback="Name is required"
                    >
                    <b-form-input
                    id="email-input"
                    v-model="patron.email"
                    required
                    ></b-form-input>
                    </b-form-group>
                    </form>
                    <div slot="modal-footer">
                    <b-btn variant="dark"  @click="$bvModal.hide('edit-100')">Cancel</b-btn>
                    <b-btn style="background-color: #131846"  @click="$bvModal.hide('edit-100')">Update</b-btn>
                </div>
                </b-modal>
                

                    
                
                <button v-b-modal.trash-100 v-b-tooltip.hover title="Delete"><img src="../assets/img/trash.png" alt=""></button>
                <b-modal id="trash-100" title="Delete Patron?">
                <p class="my-4">Do you want to delete patron?</p>
                <div slot="modal-footer">
                    <b-btn variant="dark" >Cancel</b-btn>
                    <b-btn style="background-color: #131846" v-on:click="del(index)">Delete</b-btn>
                </div>
                </b-modal>
                </th> 
              <td><br />{{patron.lname}},{{patron.fname }},{{patron.mname}}</td>
              <td><br />{{patron.email}}</td>
              <td><br />{{patron.date}}</td>

            </tr>
          </tbody>
          </table>
        </div>   
    </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';
import SIdeBar from "../components/SIdeBar"
    export default {
        components: {
            SIdeBar
        },
        data(){
            return{
                 patron:{fname:"", lname:"", mname:"", email:"",date:Date.now()},
                 patrn:[{fname:"este",mname:"walza", lname:"bads", email:"imil",date:""}
                 ]
            }
        },
        methods:{
            addpt(){
                this.patrn.unshift({...this.patron})
                this.$bvModal.hide("patmod-2");
            },
             updit(id){
                 this.patrn.values(this.paton.indexOf(id));
                 this.$bvModal.hide("edit-100");
            },
             del(index) {
                this.index=index;
                this.patrn.splice(index);
                this.$bvModal.hide("trash-100")
            },
        }
    } 
</script>

<style>
@import "../assets/css/style.css"
</style>