<template>
<div>
    <img src="../assets/img/banner.png" alt="">
    <SIdeBar/>
<div class="dashing">
    
    <img src="../assets/img/icon1.png" alt="">
    </div>
</div>
</template>

<script>
import SIdeBar from "../components/SIdeBar"
    export default {
        components:{
            SIdeBar
        }
    }
</script>

<style>
@import "../assets/css/style.css"
</style>