<template>
    <div class="side">
        <ul class="nav nav-tabs flex-column">
          <li class="nav-item">
            <router-link to="/" class="nav-link " style="left: 0ch;"><img src="../assets/img/dash2.png" alt="">  Dashboard</router-link>
          </li>
          <li class="nav-item">
            <router-link to="/Patron" class="nav-link" ><img src="../assets/img/add.png" alt="">  Patron Management</router-link>
          </li>
          <li class="nav-item">
            <router-link to="/Book" class="nav-link"><img src="../assets/img/book.png" alt="">  Book Management</router-link>
          </li>
          <li class="nav-item">
            <router-link to="/Settings" class="nav-link"><img src="../assets/img/set2.png" alt="">  Settings</router-link>
          </li>
        </ul>
    </div>
</template>

<script>
    export default {
        
    }
</script>

<style>
@import "../assets/css/style.css";
</style>