
@font-face{
    src: url(files/fonts/KGHAPPYSolid.ttf);
    font-family: kg;
}
@font-face{
    src: url(files/fonts/LeagueSpartan.otf);
    font-family: lsb;
}
.bring-power{
    font-size: 70px;
    line-height: 111px;
    font-family: kg;
    position: absolute;
    left: 750px;
    top :300px;
}
.bring-powers{
    font-size: 70px;
    line-height: 111px;
    font-family: kg;
    position: absolute;
    left: 750px;
    bottom :200px;
}
.comfort {
    font-size: 20px;
    line-height: 32px;
    font-family: kg;
    position: absolute;
    left: 750px;
    top :300px;
}
.opt{
    font-size: 30px;
    line-height: 54px;
    font-family: kg;
    margin-right: 15px;
}
.header-ismagul{
    background: #FF7A00 url(files/img/slippers.jpg);
    background-repeat: no-repeat;
    background-position: right;
  
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.comforts{
    line-height: 32px;
    font-family: kg;
    position: absolute;
    left: 750px;
    bottom :185px;
}
.slides{
    position: absolute;
    left: 350px;
    bottom :20px;
}
.btn-shopnow{
    position: absolute;
    left: 850px;
    bottom :80px;
}
.pair{
   position: absolute;
    
}
.second-header{
    background:url(files/img/bg2.png);
    background-repeat: no-repeat;
    
}
.fast{  
    line-height: 32px;
    font-family: kg;
}
.strong{  
    line-height: 32px;
    font-family: kg;
    left: 20cm;
}
.stop{  
    line-height: 32px;
    font-family: kg;
}
.third-header{
    background: url(files/img/bg3.png);
    background-repeat: no-repeat;
    
}
.slid{
    line-height: 32px;
    font-family: lsb;
    text-align: center;
}
.subname{
    line-height: 32px;
    font-family: lsb;
    text-align: center;
    background-color: 626161, 100%;
}
.name{
    line-height: 50px;
    font-family: lsb;
    text-align: center;
    background-color: 000, 100%;
}
.row{
  
    padding-left: 10px;
   
}
.tagtag{
    font-family: kg;
    font-size: 18px;

}
.col-sm{
    font-family: kg;
    font-size: 15;
}

